<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Portfolio Optimizer</title>
</head>

<body>
    <h1>Portfolio Optimizer</h1>
    <form method="POST" action="/manam">
        <label for="investment_amount">Investment Amount:</label>
        <input type="number" id="investment_amount" name="investment_amount" step="any" required>
        <input type="submit" value="Optimize Portfolio">
    </form>
</body>

</html>