{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener"
            target="_blank"><span class="blue-text">Indices</span></a> <span class="blue-text">and</span> <a
            href="https://www.tradingview.com/markets/currencies/" rel="noopener" target="_blank"><span
                class="blue-text">Forex</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
        async>
            {
                "colorTheme": "dark",
                    "dateRange": "1D",
                        "showChart": true,
                            "locale": "en",
                                "largeChartUrl": "",
                                    "isTransparent": true,
                                        "showSymbolLogo": true,
                                            "showFloatingTooltip": true,
                                                "width": "400",
                                                    "height": "660",
                                                        "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                                            "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                                                "gridLineColor": "rgba(240, 243, 250, 0)",
                                                                    "scaleFontColor": "rgba(106, 109, 120, 1)",
                                                                        "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                                                            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                                                                "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                                                    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                                                        "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                                                                                            "tabs": [
                                                                                                {
                                                                                                    "title": "Indices",
                                                                                                    "symbols": [
                                                                                                        {
                                                                                                            "s": "FOREXCOM:SPXUSD",
                                                                                                            "d": "S&P 500"
                                                                                                        },
                                                                                                        {
                                                                                                            "s": "NSE:NIFTY",
                                                                                                            "d": "Nifty 50"
                                                                                                        },
                                                                                                        {
                                                                                                            "s": "BSE:SENSEX",
                                                                                                            "d": "Sensex"
                                                                                                        }
                                                                                                    ],
                                                                                                    "originalTitle": "Indices"
                                                                                                },
                                                                                                {
                                                                                                    "title": "Forex",
                                                                                                    "symbols": [
                                                                                                        {
                                                                                                            "s": "FX_IDC:USDINR",
                                                                                                            "d": "USD INR"
                                                                                                        }
                                                                                                    ],
                                                                                                    "originalTitle": "Forex"
                                                                                                }
                                                                                            ]
            }
        </script>
</div>
<!-- TradingView Widget END -->
{% endblock %}